[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting/
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T
