# temporary files
*~

# vim installed plugins. They will install from vim config.
.vim/plugged
vim/.config/nvim/plugged

# vim's views
vim/.config/nvim/view

# MATLAB installs these. I don't want them in my dotfiles.
bin/bin/matlab
bin/bin/mbuild
bin/bin/mcc
bin/bin/mex
bin/bin/deploytool

# fzf installs on its own i think... will evaluate
bin/bin/fzf
bin/bin/fzf-tmux

# nah to sam-ba
bin/bin/sam-ba

# I don't want Chrome in my dotfiles - it syncs just fine using my google
# account.
.config/google-chrome
.config/chromium

# Does thunar need configurations too?
.config/Thunar

# No history in my dotfiles!
.config/pgcli/history
.config/pgcli/log
ranger/.config/ranger/history
ranger/.config/ranger/tagged
.netrwhist

# Don't know what Wireshark needs in terms of configuration files...
.config/wireshark

# Not a sublime text/atom/vs code user. Might check this out in the future.
.config/sublime-text-3
.config/Atom
.config/Code

# Don't want this in my dotfiles.
.config/VirtualBox

# If I do use evolution, I might consider checking this folder out.
.config/evolution

# CURA is cool and all, but I don't want it in my dotfiles.
.config/cura

# I guess this is Synergy 2 config? Let's not right now.
.config/Synergy

# Insomnia is also cool, but I'm not sure why I'd want it in my dotfiles.
.config/Insomnia

# Same thing with calibre
.config/calibre

# I might try ONI some day. Not today tho, it's not mature enough.
.config/oni

# ...and qterminal
.config/qterminal.org

# QT. Come on. Really?
.config/QtProject.conf
.config/Trolltech.conf
.config/kdeglobals

# what the hell, konsole store sessions in .config? holy hell
.config/session

# this file doesn't contain... anything really. Maybe I do want to store
# some konsole settings, but it's not apparent how to do that.
.config/konsolerc

# fuck gnome/ubuntu apps tho
.config/eog
.config/evince
.config/unity
.config/gnome-control-center
.config/nautilus
.config/totem
.config/libaccounts-glib
.config/dconf

# what even is this?! why is this in my .config folder?!
.config/user-dirs.locale
.config/user-dirs.dirs
.config/monitors.xml
.config/mimeapps.list

# other stuff I don't want in my dotfiles.
.config/pulse
.config/skypeforlinux
.config/teamviewer
.config/xfce4
.config/FreeCAD
.config/GitKraken
.config/SEGGER
.config/RescueTime.com
.config/Typora
.config/audacious
.config/d-feet
.config/gtk-2.0
.config/gtk-3.0
.config/compiz-1

# htop config isn't even human changeable...
.config/htop

# private files
zsh/.zsh/private.zsh

# I dont think these are necessary
fonts/**/.uuid

# vim swap files
*.swp

# nixos result file
result

# ccls stuf
.ccls-cache

# offlineimap stuff
offlineimap/.offlineimap/Account-main/
offlineimap/.offlineimap/Repository-maildir/
offlineimap/.offlineimap/Repository-plejd/

# python compiled files
*.pyc
