[submodule "tmux/.tmux/tmux-scroll-copy-mode"]
	path = tmux/.tmux/tmux-scroll-copy-mode
	url = git://github.com/NHDaly/tmux-scroll-copy-mode
[submodule "bin/sources/repo"]
	path = vendor/repo
	url = https://android.googlesource.com/tools/repo
	branch = master
[submodule "bin/sources/runcached"]
	path = vendor/runcached
	url = git@github.com:dbeecham/runcached
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.zsh/oh-my-zsh"]
	path = zsh/.zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/.zsh/antigen"]
	path = zsh/.zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "zsh/.zsh/zsh-histdb"]
	path = zsh/.zsh/zsh-histdb
	url = git@github.com:larkery/zsh-histdb
[submodule "bin/bin/checksec.sh"]
	path = bin/bin/checksec.sh
	url = git@github.com:dbeecham/checksec.sh
[submodule "bin/sources/fasd"]
	path = bin/sources/fasd
	url = git@github.com:clvv/fasd
[submodule "zsh/.zsh/zplug"]
	path = zsh/.zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "bin/bin/sources/unrandom"]
	path = bin/bin/sources/unrandom
	url = git@github.com:dbeecham/unrandom
[submodule "vim/.config/nvim/pack/completion/start/asyncomplete-lsp.vim"]
	path = vim/.config/nvim/pack/completion/start/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/.config/nvim/pack/completion/start/asyncomplete-ultisnips.vim"]
	path = vim/.config/nvim/pack/completion/start/asyncomplete-ultisnips.vim
	url = git@github.com:prabirshrestha/asyncomplete-ultisnips.vim
[submodule "vim/.config/nvim/pack/completion/start/asyncomplete.vim"]
	path = vim/.config/nvim/pack/completion/start/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim
[submodule "vim/.config/nvim/pack/completion/start/async.vim"]
	path = vim/.config/nvim/pack/completion/start/async.vim
	url = git@github.com:prabirshrestha/async.vim
[submodule "vim/.config/nvim/pack/completion/start/ultisnips"]
	path = vim/.config/nvim/pack/completion/start/ultisnips
	url = git@github.com:SirVer/ultisnips
[submodule "vim/.config/nvim/pack/completion/start/vim-lsp"]
	path = vim/.config/nvim/pack/completion/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule "vim/.config/nvim/pack/completion/start/vim-snippets"]
	path = vim/.config/nvim/pack/completion/start/vim-snippets
	url = git@github.com:dbeecham/vim-snippets
[submodule "vim/.config/nvim/pack/tagbar/start/vista.vim"]
	path = vim/.config/nvim/pack/tagbar/start/vista.vim
	url = git@github.com:liuchengxu/vista.vim
[submodule "vim/.config/nvim/pack/fzf/start/fzf"]
	path = vim/.config/nvim/pack/fzf/start/fzf
	url = git@github.com:junegunn/fzf
[submodule "vim/.config/nvim/pack/fzf/start/fzf.vim"]
	path = vim/.config/nvim/pack/fzf/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim
