[submodule ".tmux/tmux-scroll-copy-mode"]
	path = .tmux/tmux-scroll-copy-mode
	url = git://github.com/NHDaly/tmux-scroll-copy-mode
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule ".zsh/zsh-histdb"]
	path = .zsh/zsh-histdb
	url = git@github.com:larkery/zsh-histdb
[submodule "bin/checksec.sh"]
	path = bin/checksec.sh
	url = git@github.com:dbeecham/checksec.sh
[submodule "bin/_fasd"]
	path = bin/_fasd
	url = git@github.com:clvv/fasd
